<div class="main posts-new">
  <div class="container">
    <h1>編集する</h1>
    <hr>
    <%= form_tag("/posts/create") do %>
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <h3>タイトル</h3>
      <input name="title" value="<%= @post.title %>" class="form-control">
      <h3>記事</h3>
      <textarea name="content" rows="8" cols="80" class="form-control"><%= @post.content %></textarea>
      <input type="submit" value="編集">
    <% end %>
  </div>
</div>
