<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <h2><%= link_to(post.title, "/posts/#{post.id}") %></h2>
        <hr>
      </div>
    <% end %>
  </div>
</div>
