<div class="main posts-new">
  <div class="container">
    <h2><%= @post.title %></h2>
    <hr>
    <h3><%= @post.content %></h3>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
  </div>
</div>
