// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
  height: 60px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (min-width: 750px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
    h1 {
      font-size: 250px;
    }
    .card-description {
      h1 {
        font-size: 108px;
      }
    }
    .card-user {
      p {
        font-size: 57px;
      }
      .avatar-image-mini {
        border-radius: 50%;
        width: 100px;
        height: auto;
      }
    }
  }
}

a {
  font-size: 20px;
  text-decoration: none !important;
  color: #7a7777;
}

a.navbar-brand{
  font-size: 30px;
}

.navbar-default {
  margin-bottom: 0px !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

.dropdown-toggle {
  padding: 0px 10px !important;
}

.logout {
  color: #ee9d53 !important;
}

/* エラーメッセージ */
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  text-align: center;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
  text-align: center;
}
.alert-info {
  text-align: center;
}
.alert-warning {
  text-align: center;
}

/* home/index.html.slim */

.banner {
  width: 100%;
  height: 700px;
  color: white;
  text-align: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/top.jpg');
  .banner-content {
    padding-top: 207px;
    h1 {
      margin-top: 0px;
      font-size: 72px;
    }
    p {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
}

.banner-about-1 {
  .sng-about {
    margin-top: 52px;
    h1 {
      font-size: 70px;
      margin-bottom: 100px;
      color: #3ac162;
    }
  }
  .sng-info {
    width: 695px;
    height: auto;
  }
}

/* ボタン */

.btn-treehouse {
  color: white;
  padding: 20px 30px;
  border-radius: 50px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-facebook.btn.btn-lg.btn-block {
  color: white;
  background-color: #3B5998;
  font-size: 20px;
  width: 200px;
  margin: 0 auto;
  &:hover {
    color: white;
    background-color: #627AAC;
  }
}

.login-session {
  font-size: 70px;
  color: #3ac162;
  text-align: center;
  margin: 30px;
}

.login-session-discription {
  font-size: 20px;
  text-align: center;
  color: #7a7777;
  margin: 30px;
}

.footer-discription {
  font-size: 20px;
  color: #7a7777;
  text-align: center;
}
