.show-title {
  font-size: 70px;
  margin-bottom: 80px;
  color: #3ac162;
}

.show-content {
  font-size: 40px;
  margin-bottom: 40px;
  word-wrap: break-word;
  color: #b9b8b8;
}

.username {
  margin-left: 10px;
}

.card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: auto;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 0px;
  left: 10px;
  word-wrap: break-word;
  white-space: normal;
  display: block;
  h1 {
    font-size: 50px;
  }
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-content {
  position: absolute;
  top: 0;
  right: 0;
  word-wrap: break-word;
  width: 450px;
}

.show_content {
  word-wrap: break-word;
  white-space: normal;
  display: block;
}

.ckeditor {
  width: 100%;
  height: 500px;
}

.form-error {
  color: red;
  font-size: 20px;
}

.first_iframe {
  text-align: center;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.post-note {
  font-size: 18px;
  font-weight: bold;
  color: #5383da;
}

.btn-submit {
  margin-top: 30px;
  background-color: #00bd69;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.btn-submit:hover {
  background-color: #28a06b;
}

.btn-submit:active {
  position:relative;
	top:1px;
}

/* パソコン */
@media only screen and (min-width: 750px) {
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
    .user-index {
      font-size: 70px;
    }
    .card-description {
      h1 {
        font-size: 40px;
      }
    }
    .card-user {
      p {
        font-size: 20px;
      }
      .avatar-image-mini {
        border-radius: 50%;
        width: 50px;
        height: auto;
      }
    }
  }
}
/* スマートフォン */
@media only screen and (max-width: 1000px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;

    .navbar-default {
      padding-bottom: 0px;
      border-color: #4b390a;
      .container-fluid {
        height: 160px;
        background-color: #4b390a;
        .avatar-image {
          margin: 15px 30px 10px 0;
          width: 130px;
        }
        .dropdown-menu {
          width: 100%;
          height: auto;
        }
      }
    }
    .navbar-brand {
      margin-top: 50px;
      font-size: 60px;
      color: #00bd69;
      font-weight: bold;
    }
    .user-index {
      font-size: 250px;
    }
    .card-description {
      h1 {
        font-size: 108px;
      }
    }
    .card-user {
      p {
        font-size: 57px;
      }
      .avatar-image-mini {
        border-radius: 50%;
        width: 100px;
        height: auto;
      }
    }
    .user-index-name {
      .username {
        font-size: 70px;
      }
      .avatar-image-index {
        border-radius: 50%;
        margin-left: 50px;
        width: 200px;
        height: auto;
      }
    }
    .user-profile {
      .avatar-image-show {
        border-radius: 50%;
        margin-left: 0px;
      }
      .user-name-show {
        font-size: 80px;
      }
      .following-link {
        font-size: 40px;
        margin-right: 200px;
      }
      .follower-link {
        font-size: 40px;
      }
      .follow-list {
        margin: 0 auto;
        text-align: center;
      }
    }
    .posts-new {
      h3 {
        font-size: 70px;
      }
      .form-control {
        font-size: 40px;
        height: 100px;
        border-color: #578bd8;
        font-weight: bold;
      }
      .form-content {
        height: 180px;
      }
      .ckeditor {
        font-size: 40px;
      }
      .post-note {
        font-size: 40px;
      }
      .show-title {
        h1 {
          font-size: 100px;
        }
      }
    }
  }
}
