// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  margin-top: 70px;
}

.user-name-show {
  font-family: 'Montserrat', sans-serif;
}

.avatar-image-show {
  border-radius: 50%;
  margin-left: 150px;
  width: 300px;
}

.avatar-image {
  width: 50px;
  border-radius: 50%;
}

.avatar-image-index {
  border-radius: 50%;
  margin-right: 30px;
}

.following-link {
  margin-right: 50px;
  text-decoration: none;
}

.user-hr {
  border-color: #3ac162;
}

.nil-post {
  margin: 70px 0px 0px;
  text-align: center;
  color: #7a7777;
}

.user-index {
  font-size: 70px;
  text-align: center;
  color: #3ac162;
}

.user-index-name {
  font-size: 40px;
  color: #7a7777;
}
